body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.grid {
  display: grid;
  gap: 60px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../images/header-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  padding: 180px 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
}

header a {
  color: #272044;
  background-color: #ffffff;
  text-decoration: none;
  padding: 16px 32px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 700;
}

.main-grid {
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 100px 110px;
  background-color: #ffffff;
}

main img {
  width: 100%;
}

main h2 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 5px;
  text-align: left;
  color: #272044;
  opacity: 0.7;
}

main h3 {
  margin: 0;
  color: #272044;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.7;
  color: #272044;
}

section .secondary {
  background-color: #f8f8f8;
}

.text-center {
  text-align: center;
}

.secondary h2 {
  margin-top: 100px;
}

.grid-aside-cards {
  grid-template-columns: repeat(3, 1fr);
  padding-left: 220px;
  padding-right: 17px;
  gap: 30px;
  margin-bottom: 100px;
}

.aside-img-flex {
  display: flex;
  width: 185px;
}

.aside-content {
  padding: 32px;
}

aside {
  width: 370px;
  background-color: #ffffff;
  margin-top: 50px;
}

aside img {
  width: 370px;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-grid {
  grid-template-columns: 1fr 2fr 2fr;
  text-align: left;
  padding: 100px 170px;
}

footer {
  color: #ffffff;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.7)
    ),
    url("../images/footer-pic.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}

footer ul {
  list-style: none;
  padding: 0;
  opacity: 0.6;
  line-height: 28px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: left;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.6;
}

@media (max-width: 960px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
